@import "scss/variables/all";
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html,
body,
.body-shell {
  scroll-behavior: smooth;
  height: 100%;
}

.body-shell {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.body-content {
  overflow-y: auto;
}

.text-hover-dark:hover {
  color: $dark !important;
}

.card:not(.card-plain):hover {
  transform: translateY(0) !important;
}
